<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <style></style>
  <body>
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <nav id="navbar">
      <ul>
        <li><a style="border-bottom: 3px solid #333" href="">Home</a></li>
        <li><a href="services.html">Services</a></li>
        <!-- <li><a href="http://localhost:3001/chat">Chat</a></li> -->
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="wave-header">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#ffffff"
          fill-opacity="0.9"
          d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,256C672,288,768,288,864,282.7C960,277,1056,267,1152,245.3C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
      <div class="wave-div-1">
        <div id="wave-heading">
          <h1>College ERP</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
            adipisci tenetur quas voluptas nemo sit itaque recusandae excepturi
            corporis? Explicabo aut quidem animi minus deleniti nihil labore
            nulla, distinctio soluta.
          </p>
          <button class="button1"><a href="services.html">Services</a></button>
        </div>
        <div id="wave-img">
          <img src="/images/cccccc.png" alt="" />
        </div> 
      </div>
    </div>
    <section id="section-2">
      <div id="sec-2-heading">
        <h1>
          Boost <span style="border-bottom: 10px solid yellow">Productivity</span>
        </h1>
      </div>
      <div id="box-raw">
        <div class="box-raw-divs" id="box-raw-div1">
          <img src="/images/icons8-chart-94.png" alt="" />
          <div id="box-1-detail">
            <h2 style="margin-bottom: 8px; margin-top: 10px;">Data Management</h2>
            <p style="padding: 5px;">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
        </div>
        <div class="box-raw-divs" id="box-raw-div2">
          <img src="/images/icons8-collaboration-female-male-94.png" alt="" />
          <div id="box-1-detail">
            <h2 style="margin-bottom: 8px; margin-top: 10px;">Improved Communication</h2>
            <p style="padding: 5px;">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
        </div>
        <div class="box-raw-divs" id="box-raw-div3">
          <img src="/images/icons8-administrator-male-64.png" alt="" />
          <div id="box-1-detail">
            <h2 style="margin-bottom: 8px; margin-top: 10px;">
              Enhanced Student Exprerience
            </h2>
            <p style="padding: 5px">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
        </div>
        <div class="box-raw-divs" id="box-raw-div4">
          <img src="/images/icons8-support-50.png" alt="" />
          <div id="box-1-detail">
            <h2 style="margin-bottom: 8px; margin-top: 10px;">Personalized Support</h2>
            <p style="padding: 5px">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="section-1">
      <div id="img-sec">
        <img src="/images/maincon.jpg" alt="" />
      </div>
      <div id="detail-sec">
        <h1>
          College
          <span style="border-bottom: 10px solid yellow">ERP</span>
        </h1>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur
          explicabo eos culpa, itaque quam sint non ullam, nostrum voluptate
          adipisci aperiam id corporis omnis, numquam consequatur deserunt saepe
          atque? Sunt?
        </p>
        
      </div>
    </section>

    <section id="section-3">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,64L60,58.7C120,53,240,43,360,53.3C480,64,600,96,720,122.7C840,149,960,171,1080,154.7C1200,139,1320,85,1380,58.7L1440,32L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"
        ></path>
      </svg>

      <div id="s3-div1">
        <h1 style="color: #fff">
          College ERP Saves 70 percent of your time, 
          <span style="border-bottom: 6px solid yellow">Imporoved Efficiency</span>
          
        </h1>
        <button class="button2" type="button">
          <a style="text-decoration: none" href="services.html">Services</a>
        </button>
      </div>
      <div id="s3-div2"></div>
      <div id="s3-div3">
        <div class="s3-raws" id="raw1">
          <div id="raw1-box1" class="raw1-boxes">
            <img
              style="width: 25%; height: 6.5rem"
              src="/images/icons8-administrator-male-64.png"
              alt=""
            />
            <h1 style="color: #fff; margin-top: 1.3rem">User Interface</h1>
            <p style="padding: 10px; color: #fff">
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
          <div id="raw1-box2" class="raw1-boxes">
            <img
              style="width: 25%; height: 6.5rem"
              src="/images/icons8-chart-96.png"
              alt=""
            />
            <h1 style="color: #fff; margin-top: 1.3rem">Attendace Track</h1>
            <p
              style="
                padding: 10px;
                
                color: #fff;
                margin-top: 0.5rem;
              "
            >
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
        </div>
        <div class="s3-raws" id="raw2">
          <div id="raw2-box1" class="raw2-boxes">
            <img
              style="width: 25%; height: 6.5rem"
              src="/images/icons8-grade-96.png"
              alt=""
            />
            <h1 style="color: #fff">Grade Evaluation</h1>
            <p
              style="
                padding: 10px;
               
                color: #fff;
                margin-top: 1.3rem;
              "
            >
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
          <div id="raw2-box2" class="raw2-boxes">
            <img
              style="width: 25%; height: 6.5rem"
              src="/images/icons8-books-96.png"
              alt=""
            />
            <h1 style="color: #fff">Resources</h1>
            <p
              style="
                padding: 10px;
               
                color: #fff;
                margin-top: 1.3rem;
              "
            >
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section id="section-4">
      <div id="s4-heading">
        <h1>
          Different <span style="border-bottom: 5px solid yellow">Modules</span>
        </h1>
      </div>
      <div id="s4-boxes">
        <div id="se4-box1" class="se4-boxes">
          <img
            
            src="/images/icons8-student-male-48.png"
            alt=""
          />
          <!-- <h3>2L 3 Bottles</h3> -->
          <h1 style="margin-top: 2rem">Studnet Module</h1>
          <!-- <h2 style="color: #009866; margin-top: 1rem">$2</h2> -->
          <p
            style="
              margin-top: 1rem;
              text-align: center;
              padding: 20px;
              
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button class="add-button"><a href="http://localhost:3000/login"><strong>Login</strong></a></button>
        </div>
        <div id="se4-box2" class="se4-boxes">
          <img
            
            src="/images/icons8-woman-teacher-48.png"
            alt=""
          />
          <!-- <h3>5L 1 Bottle</h3> -->
          <h1 style="margin-top: 2rem">Faculty Module</h1>
          <!-- <h2 style="color: #009866; margin-top: 1rem">$1</h2> -->
          <p
            style="
              margin-top: 1rem;
              text-align: center;
              padding: 20px;
              
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button class="add-button"><a href="http://localhost:3000/fac_log"><strong>Login</strong></a></button>
        </div>
        <div id="se4-box3" class="se4-boxes">
          <img
            
            src="/images/icons8-admin-48.png"
            alt=""
          />
          <!-- <h3>5L 3 Bottles</h3> -->
          <h1 style="margin-top: 2rem">Admin Module</h1>
          <!-- <h2 style="color: #009866; margin-top: 2rem">$3</h2> -->
          <p
            style="
              margin-top: 1rem;
              text-align: center;
              padding: 20px;
             
            "
          >
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
          <button class="add-button"><a href="http://localhost:3000/admin_log"><strong>Login</strong></a></button>
        </div>
      </div>
    </section>
    <section id="contact">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path
          fill="#fff"
          fill-opacity="1"
          d="M0,288L48,245.3C96,203,192,117,288,122.7C384,128,480,224,576,240C672,256,768,192,864,144C960,96,1056,64,1152,58.7C1248,53,1344,75,1392,85.3L1440,96L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
        ></path>
      </svg>

      <div id="head1">
        <div id="cont-heading">
          <h1 style="color: #fff; ">
            Please Call Us For
            <span style="border-bottom: 4px solid yellow">Excellence</span>
            Service
          </h1>
        </div>
        <div id="mobile">
          <h2 style="color: #fff">7488071990</h2>
        </div>
      </div>

      <div id="cont-boxes">
        <div class="cont-boxes-class">
          <h1>Address</h1>
          <ul>
            <li style="text-align: center" class="li-items">
              Flat 20, Reynolds Neck, FV77 8WS
            </li>
            <li class="li-items">(+91) 7488071990</li>
            <li class="li-items">sinhaak321@gmail.com</li>
          </ul>
        </div>
        <div class="cont-boxes-class">
          <h1>Useful Links</h1>
          <ul>
            <li class="li-link-items"><a href="#">About</a></li>
            <li class="li-link-items"><a href="services.html">Services</a></li>
            <li class="li-link-items"><a href="contact.html">Contact</a></li>
          </ul>
        </div>
        <div class="cont-boxes-class">
          <h1 style="margin-bottom: 8rem">Open Hours</h1>
          <ul>
            <li class="open-hours">Mon-sat : 9:00 Am - 6:00 Pm</li>
            <li class="open-hours">Sunday : Closed</li>
          </ul>
        </div>
      </div>
    </section>
  </body>
  <script>
    // Simulate loading delay
    window.addEventListener("load", function () {
      // Hide loader and show content after a delay (you can adjust the delay as needed)
      setTimeout(function () {
        document.querySelector(".loader-wrapper").style.display = "none";
        document.querySelector(".content").style.display = "block";
      }, 2000); // 2000 milliseconds (2 seconds) delay
    });
  </script>
</html>
