<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>College</title>
</head>

<body>
    <header class="navbar">
        <img src="./images/college_logo_blue.png" alt="">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </header>
    <div class="container">
        <div>
            <h1>College/University ERP</h1>
        </div>
        <div class="items">
            <div class="div1">
                <img src="./images/student2.png" alt="">
                <h2><a href="http://127.0.0.1:3000/login">Student Login</a></h2>
            </div>
            <div class="div2">
                <img src="./images/teacher2.png" alt="">
                <h2><a href="http://127.0.0.1:3000/fac_log">Faculty Login</a></h2>
            </div>
            <div class="div3">
                <img src="./images/admin2.png" alt="">
                <h2><a href="http://127.0.0.1:3000/admin_log">Admin Login</a></h2>
            </div>
        </div>
    </div>
    <div id="div2">
        <div id="student-img">
            <img src="/images/stu.jpg" alt="">
        </div>
        <div id="student">
            <h1><strong>Student Module</strong></h1>
            <p>
                The college ERP's student module streamlines enrollment, course registration, academic progress
                tracking, and communication for efficient student management and support.</p>
        </div>
    </div>
    <div id="div3">
        <div id="faculty">
            <h1><strong>Faculty Module</strong></h1>
            <p>Faculty module streamlines data submission for instructors, managing courses, grades, and communication
                with students, enhancing teaching efficiency and organization.</p>
        </div>
        <div id="faculty-img">
            <img src="/images/tea.jpg" alt="">
        </div>
    </div>
    <div id="div4">
        <div id="admin-img">
            <img src="/images/adm.jpg" alt="">
        </div>
        <div id="admin">
            <h1><strong>Admin Module</strong></h1>
            <p>Admin module efficiently handles admissions and official tasks, ensuring seamless administrative
                operations within the college ERP system.</p>
        </div>
    </div>
    <div id="functions">
        <div id="functions-heading">
            <h1><strong>Functions</strong></h1>
        </div>
        <div id="functions-box1">
            <div id="functions-boxes" class="functions-boxes1">
                <h3><a href="#">Profile</a></h3>
            </div>
            <div id="functions-boxes" class="functions-boxes2">
                <h3><a href="#">Course Management</a></h3>
            </div>
            <div id="functions-boxes" class="functions-boxes3">
                <h3><a href="#">Track Attendance</a></h3>
            </div>
            <div id="functions-boxes" class="functions-boxes4">
                <h3><a href="#">Grades</a></h3>
            </div>
        </div>
        <div id="functions-box2">
            <div id="functions-boxes2" class="functions-box2-boxes1">
                <h3><a href="#">Fee Payment</a></h3>
            </div>
            <div id="functions-boxes2" class="functions-box2-boxes2">
                <h3><a href="#">Study Materials</a></h3>
            </div>
            <div id="functions-boxes2" class="functions-box2-boxes3">
                <h3><a href="#">Announcements</a></h3>
            </div>
            <div id="functions-boxes2" class="functions-box2-boxes4">
                <h3><a href="#">Add Candidates</a></h3>
            </div>
        </div>
    </div>
    <div id="contact">
        <div id="contact-div1">
            <h1 style="color: #ffffff; margin-bottom: 2rem;">Contact Us</h1>
            <div style="display: flex; margin: 8px;">
                <img style="width: 7%; margin-right:4px;" src="./images/loc3.png" alt="">
                <p><strong style="color: #ffffff; font-size: 18px">Address :</strong> <span
                        style="color: #ffffff; font-size: 18px;">DSCE Coimbatore, Near Nandhi Temmple, NH-47
                        641105</span></p>
            </div>
            <div style="display: flex; margin: 8px;">
                <img style="width: 5%; margin-left: 5px; margin-right:11px;" src="./images/telephone.png" alt="">
                <p><strong style="color: #ffffff; font-size: 18px">Phone :</strong> <span
                        style="color: #ffffff; font-size: 18px;">7488071990</span></p>
            </div>
            <div style="display: flex; margin: 8px;">
                <img style="width: 7%; margin-right:8px;" src="./images/email.png" alt="">
                <p><strong style="color: #ffffff; font-size: 18px">Email :</strong> <span
                        style="color: #ffffff; font-size: 18px;">sinhaak321@gmail.com</span></p>
            </div>
        </div>
        <div id="contact-div2">
            <!-- <ul>
                <li><a href="">a2</a></li>
                <li><a href="">b2</a></li>
                <li><a href="">c2</a></li>
            </ul> -->
        </div>
        <div id="contact-div3">
            <div>
                <h1 style="color: #ffffff; margin-bottom: 1rem;">Get in Touch</h1>
            </div>
            <div style="display: flex; justify-content: center;">
                <img style="width: 18%; padding: 18px;" src="./images/github_PNG28.png" alt="">
                <img style="width: 18%; padding: 18px;" src="./images/Linkedin-logo-1024x1024.png" alt="">
                <img style="width: 18%; padding: 18px;" src="./images/github_PNG28.png" alt="">
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
<script src="/js/script.js"></script>

</html>